#logo-div{
    display: flex;
    align-items: center;// vertical
    height: 40%;
    justify-content: center;//horizontal

    h3{
        text-align: center;
    }
}


img{
    width: 100;
    height: 100;
}